#oShell .iPadTurned {
    -webkit-transform: rotate(+90deg);
    -moz-transform: rotate(+90deg);
    -ms-transform: rotate(+90deg);
}
#oShell .sapMPanelContent {
    padding: 0px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
